{% extends 'portfolio/layout.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class = "img_main">
    <img src="{% static 'portfolio/img/main1.jpg' %}" width="500" height="700"/>
</div>
<div class = "main_info">
    <h1>Тень на пленке: Автобиография</h1>
    <p>Я родился в тени неоновых огней большого города. Улицы наполнены дымом и загадками,<br>
        а ночное небо смотрит на меня, как старый знакомый, который знает все мои секреты.<br>
        Меня зовут Марк Грей, и я — фотограф. Моя камера — мой единственный союзник в этом мире теней и обмана.<br>
        Я всегда чувствовал, что для меня нет лучшего способа рассказать историю, чем через объектив.<br>
        В каждом снимке я ищу истину, которая скрывается под слоем пыли и мрака.<br>
        Мои фотосессии проходят в заброшенных зданиях и зловещих переулках, где каждый шорох может обернуться трагедией.<br>
        Слова здесь излишни — одного кадра достаточно, чтобы запечатлеть всю глубину эмоций.<br>
        Я начал свой путь, когда мне было всего восемнадцать.<br>
        Тогда я снимал девушек в кофейнях и стариков на лавочках, но с каждым днём мне становилось понятно,<br>
        что жизнь не просто так устроена, и за каждым взглядом скрывается целая вселенная.<br>
        Я словно ловец душ, который запечатлевает моменты на плёнке, чтобы их никто не забыл.<br>
        Но этот мир не прост — в нём есть место не только для искусства, но и для предательства.<br>
        Я столкнулся с тенями прошлого, когда однажды получил заказ, который всё изменил.<br>
        Портреты подследственных, их мрачные истории, глубокая тишина, когда за окном слышны отдалённые сирены.<br>
        Я оказался втянут в опасную игру, где ставки очень высоки.<br>
        Сейчас я продолжаю снимать — ищу правду в каждом кадре, бесконечно охочусь за светом в мире, полном теней.<br>
        Моя камера всё ещё щёлкает, запечатлевая жизнь, и даже во мраке я продолжу искать ту самую искорку,<br>
        которая освещает этот запутанный путь.<br>
        Я — фотограф, и это моя история.
    </p>
</div>

{% endblock %}